.container-question {
  margin: 20px;
  width: 1250px;
  height: 650px;
  background-color: #272d40;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #ddd;
  
  border-radius: 20px;
  h1{
    color: #f2726a;
  }
}

.questItem {
  margin: 30px;
}

.selection {
  color: rgb(216, 170, 41);
}

label {
  font-size: 30px;
}
