html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  justify-content: center;
  background-image: linear-gradient(to right, #331c72, #822a84);
  color: antiquewhite;
}

*::after,
*::before {
  padding: 0;
  margin: 0;
}

/* Customize the scrollbar */
/* For webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 1px;
  scrollbar-width: thin;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: px;
}

/* Customize the scrollbar track when hovering over it */
