html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  justify-content: center;
  background-color: #f5f5f5;
}

*::after,
*::before {
  padding: 0;
  margin: 0;
}

/* Hide the scrollbar but allow scrolling */
.scrollable-element {
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Style for Webkit (Chrome, Safari) */
.scrollable-element::-webkit-scrollbar {
  display: none;
}
